body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cityTile {
  /* display: inline; */
  /* background-repeat: no-repeat; */
  /* background-position: center 100%; */
  float: center;
  margin: 2%;
  padding-left: 50%;
  outline: #3B0B0B solid thick;
  /* transition: 0.75s; */
  /* opacity: 1; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center
}

.searchbar {
  padding: 1rem;
  /* display: flex;
  flex-direction: column; */
}

button {
  padding: 8px 16px;
  box-shadow:
    0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #8c8d9d;
  border: 1px solid #0b0c15;
}

button:hover{
  background-color: #2341b8;
}

.map-container {
  margin-top: 0px;
  height: 300px;
  }
   
  .sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  }